<!DOCTYPE html>
<html ng-app='AngularFilters'>
<head>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js'></script>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js'></script>
  <script src='./js/app.js'></script>
  <script src='./js/controllers.js'></script>
  <script src='./js/filter.js'></script>
  <script src='./js/routes.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel='stylesheet' href='./css/styles.css'>
</head>
<body>
  <div class='container-fluid'>
    <!-- <div class='row'>
      <div class='col-md-8 col-md-offset-2'>
        <input type='text' ng-model='stuff'>
        <h3>{{stuff | toCamel}}</h3>
      </div>
      <div class='col-md-8 col-md-offset-2'>
        <input type='text' ng-model='morestuff'>
        <input type='text' ng-model='str'>
        <h3>{{morestuff | redaction: str}}</h3>
      </div>
      <div class='col-md-8 col-md-offset-2'>
        <h3>Maybe Something will be here</h3>
      </div> -->

      <h1>Header</h1>
      <div ng-view></div>
      <h1>Footer</h1>
    </div>
  </div>
</body>
</html>
