body {
  text-align: center;
}

.error {
  color: red;
  font-variant: small-caps;
}

.errorInput {
  border: 1px solid red;
  box-shadow: 0px 0px 1px 1px red;
}

form input {
  margin: 2rem;
}

.validInput {
  border: 1px solid lime;
  box-shadow: 0px 0px 1px 1px lime;
}
