body {
  font-size: 10px;
  font-weight: 100;
  font-family: fantasy;
}

.adder {
  font-size: 1.5rem;
}

.adder input,
.adder button {
  padding-top: .5rem;
  margin-top: 3rem;
}

.todoItem {
  padding: .5rem;
}

.todoItem:nth-child(even) {
  background-color: #efefef;
}

.todoItem button,
.todoItem p {
  display: inline;
}

.todolist {
  margin-top: 2rem;
  text-align: center;
  box-sizing: border-box;
  border-left: 1px solid #efefef;
}
